body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/world_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-links {
  margin-right: 10px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 20px;
}

.left-content {
  flex: 1;
  border: 10px solid transparent;
  border-radius: 10px;
  padding: 20px;
}

.right-content {
  flex: 1;
  border: 10px solid transparent;
  border-radius: 10px;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
}
